<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Model')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-model" data-rule="required" class="form-control" name="row[model]" type="text">
            <span class="msg-box"></span>
        </div>
    </div>
    <div class="form-group{$Request.param.category_id == 0 ? '':' hide'}">
        <label class="control-label col-xs-12 col-sm-2">{:__('Category_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-category_id" data-rule="required" data-source="category/selectpage"  data-params='{"custom[type]":"catalog","isTree":true}' class="form-control selectpage" name="row[category_id]" type="text" value="{$Request.param.category_id}">
            <span class="msg-box"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Client_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-client_id" data-source="sales/client/index" class="form-control selectpage" name="row[client_id]" type="text" value="">
            <span class="msg-box"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Description')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-description" data-rule="required" class="form-control" name="row[description]" type="text">
            <span class="msg-box"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Description_cn')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-description_cn" data-rule="required" class="form-control" name="row[description_cn]" type="text">
            <span class="msg-box"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Hscode')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-hscode" class="form-control" name="row[hscode]" type="text">
            <span class="msg-box"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Rebate_rate')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-rebate_rate" class="form-control" name="row[rebate_rate]" min="0" step="1" type="number">
            <span class="msg-box"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Images')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-images" data-rule="required" class="form-control" size="50" name="row[images]" type="text">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-images" class="btn btn-danger plupload" data-input-id="c-images" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true" data-preview-id="p-images"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-images" class="btn btn-primary fachoose" data-input-id="c-images" data-mimetype="image/*" data-multiple="true"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-images"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-images"></ul>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
