<div class="col-xs-12 col-md-4">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title text-uppercase">{:__('Catalog')}</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div id="CatalogTree">
            </div>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>
<div class="col-xs-12 col-md-8">
    <div class="panel panel-default panel-intro">
        {:build_heading()}

        <div class="panel-body">
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="one">
                    <div class="widget-body no-padding">
                        <div id="toolbar" class="toolbar">
                            <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}" ><i class="fa fa-refresh"></i> </a>
                            <a href="javascript:;" class="btn btn-success btn-add {:$auth->check('products/product_model/add')?'':'hide'}" title="{:__('Add')}" ><i class="fa fa-plus"></i> {:__('Add')}</a>
                            <!--<a href="javascript:;" class="btn btn-success btn-edit btn-disabled disabled {:$auth->check('products/product_model/edit')?'':'hide'}" title="{:__('Edit')}" ><i class="fa fa-pencil"></i> {:__('Edit')}</a>
                            <a href="javascript:;" class="btn btn-danger btn-del btn-disabled disabled {:$auth->check('products/product_model/del')?'':'hide'}" title="{:__('Delete')}" ><i class="fa fa-trash"></i> {:__('Delete')}</a>-->
                            <a href="javascript:;" class="btn btn-danger btn-import {:$auth->check('products/product_model/import')?'':'hide'}" title="{:__('Import')}" id="btn-import-file" data-url="ajax/upload" data-mimetype="csv,xls,xlsx" data-multiple="false"><i class="fa fa-upload"></i> {:__('Import')}</a>

                            <div class="dropdown btn-group {:$auth->check('products/product_model/multi')?'':'hide'}">
                                <a class="btn btn-primary btn-more dropdown-toggle btn-disabled disabled" data-toggle="dropdown"><i class="fa fa-cog"></i> {:__('More')}</a>
                                <ul class="dropdown-menu text-left" role="menu">
                                    <li><a class="btn btn-link btn-multi btn-disabled disabled" href="javascript:;" data-params="status=normal"><i class="fa fa-eye"></i> {:__('Set to normal')}</a></li>
                                    <li><a class="btn btn-link btn-multi btn-disabled disabled" href="javascript:;" data-params="status=hidden"><i class="fa fa-eye-slash"></i> {:__('Set to hidden')}</a></li>
                                </ul>
                            </div>

                            <a class="btn btn-success btn-recyclebin btn-dialog {:$auth->check('products/product_model/recyclebin')?'':'hide'}" href="products/product_model/recyclebin" title="{:__('Recycle bin')}"><i class="fa fa-recycle"></i> {:__('Recycle bin')}</a>
                        </div>
                        <table id="table" class="table table-striped table-bordered table-hover table-nowrap"
                               data-operate-edit="{:$auth->check('products/product_model/edit')}"
                               data-operate-del="{:$auth->check('products/product_model/del')}"
                               width="100%">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="itemtpl" type="text/html">
    <div class="col-sm-4 col-md-3">
        <div class="thumbnail no-padding">
            <a class="addtabsit" href="products/product_model/detail/ids/<%=item.id%>" title="<%=item.model%> {:__('Detail')}"><img src="<%=item.image%>" class="img-responsive" alt="<%=item.model%>"></a>
            <div class="text-center bg-gray-light">
                <a class="btn btn-dialog" href="products/product_model/edit/ids/<%=item.id%>" title="{:__('Edit')}" ><h4><%=item.model%></h4></a>
            </div>
        </div>
    </div>
</script>