<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Code')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-code" data-rule="required" class="form-control" name="row[code]" type="text" value="">
            <span class="msg-box"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Description')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-description" data-rule="required" class="form-control" name="row[description]" type="text" value="{$row.description|htmlentities}" placeholder="只填写规格部分描述">
            <span class="msg-box"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Description_cn')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-description_cn" data-rule="required" class="form-control" name="row[description_cn]" type="text" value="{$row.description_cn|htmlentities}" placeholder="只填写规格部分描述">
            <span class="msg-box"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Specification')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-specification" data-rule="required" class="form-control " rows="5" name="row[specification]" cols="50">{$row.specification|htmlentities}</textarea>
            <span class="msg-box"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Unit')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-unit" data-rule="required" class="form-control selectpicker" name="row[unit]">
                {foreach name="unitList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.unit"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>
            <span class="msg-box"></span>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Moq')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-moq" data-rule="required" class="form-control" name="row[moq]" min="1" step="1" type="number" value="{$row.moq|htmlentities}">
            <span class="msg-box"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Weight')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-weight" data-rule="required" class="form-control" min="0" step="0.001" name="row[weight]" type="number" value="{$row.weight|htmlentities}">
                <span class="msg-box"></span>
                <div class="input-group-addon">
                    <span>KG</span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Length')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-length" data-rule="required" class="form-control" min="0" step="0.1" name="row[length]" type="number" value="{$row.length|htmlentities}">
                <span class="msg-box"></span>
                <div class="input-group-addon">
                    <span>CM</span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Width')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-width" data-rule="required" class="form-control" min="0" step="0.1" name="row[width]" type="number" value="{$row.width|htmlentities}">
                <span class="msg-box"></span>
                <div class="input-group-addon">
                    <span>CM</span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Height')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-height" data-rule="required" class="form-control" min="0" step="0.1" name="row[height]" type="number" value="{$row.height|htmlentities}">
                <span class="msg-box"></span>
                <div class="input-group-addon">
                    <span>CM</span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Package')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-package" data-rule="required" class="form-control" name="row[package]" type="text" value="{$row.package|htmlentities}">
            <span class="msg-box"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Pweight')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-pweight" data-rule="required" class="form-control" min="0" step="0.001" name="row[pweight]" type="number" value="{$row.pweight|htmlentities}">
                <span class="msg-box"></span>
                <div class="input-group-addon">
                    <span>KG</span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Plength')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-plength" data-rule="required" class="form-control" min="0" step="0.1" name="row[plength]" type="number" value="{$row.plength|htmlentities}">
                <span class="msg-box"></span>
                <div class="input-group-addon">
                    <span>CM</span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Pwidth')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-pwidth" data-rule="required" class="form-control" min="0" step="0.1" name="row[pwidth]" type="number" value="{$row.pwidth|htmlentities}">
                <span class="msg-box"></span>
                <div class="input-group-addon">
                    <span>CM</span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Pheight')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-pheight" data-rule="required" class="form-control" min="0" step="0.1" name="row[pheight]" type="number" value="{$row.pheight|htmlentities}">
                <span class="msg-box"></span>
                <div class="input-group-addon">
                    <span>CM</span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Cost')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <div class="input-group-addon">
                    <span>￥</span>
                </div>
                <input id="c-cost" data-rule="required" class="form-control" min="0" step="0.01" name="row[cost]" type="number" value="{$row.cost|htmlentities}">
                <span class="msg-box"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Remark')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-remark" class="form-control " rows="5" name="row[remark]" cols="50">{$row.remark|htmlentities}</textarea>
            <span class="msg-box"></span>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
