<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Quotation_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-quotation_id" data-source="sales/quotation/index" data-show-field="ref_no" data-params='{"custom":{"status":["between","1,29"]}}' class="form-control selectpage" name="row[quotation_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Po_no')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-po_no" class="form-control" name="row[po_no]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Lc_no')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-lc_no" class="form-control" name="row[lc_no]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Client_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-client_id" data-rule="required" data-source="sales/client/index" class="form-control selectpage" name="row[client_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Contact_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-contact_id" data-rule="required" data-source="sales/contact/index" class="form-control selectpage" name="row[contact_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 col-sm-offset-2">
            <label for="c-switch"> <input id="c-switch" value="" type="checkbox"> {:__('Other Destination')}</label>
        </div>
    </div>
    <div class="form-group" style="display: none">
        <label class="control-label col-xs-12 col-sm-2">{:__('Country_code')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-country_code" data-rule="required" class="form-control selectpage" data-source="location/index" data-show-field="country_name" data-key-field="code" data-search-field="name,name_cn" data-and-or="or" data-order-by="name" name="row[country_code]" type="text">
        </div>
    </div>
    <div class="form-group" style="display: none">
        <label class="control-label col-xs-12 col-sm-2">{:__('Destination')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-destination" class="form-control " rows="5" name="row[destination]" cols="50"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Currency')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-currency" data-rule="required" class="form-control selectpicker" name="row[currency]">
                {foreach name="currencyList" item="vo"}
                    <option value="{$key}" {in name="key" value=""}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group" style="display: none">
        <div class="col-xs-12 col-sm-offset-2">
            <label for="c-switch_tax"> <input id="c-switch_tax" value="" type="checkbox"> {:__('Add Tax')}</label>
        </div>
    </div>
    <div class="form-group" style="display: none">
        <label class="control-label col-xs-12 col-sm-2">{:__('Tax_rate')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-tax_rate" class="form-control" name="row[tax_rate]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Rate')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-rate" data-rule="required" class="form-control" step="0.0001" name="row[rate]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Incoterms')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-incoterms" data-rule="required" class="form-control selectpicker" name="row[incoterms]">
                {foreach name="incotermsList" item="vo"}
                    <option value="{$key}" {in name="key" value=""}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Leadtime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-leadtime" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" data-use-current="true" name="row[leadtime]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Prepay')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-prepay" data-rule="required" class="form-control" min="10" step="10" name="row[prepay]" type="number" value="30">
                <span class="msg-box"></span>
                <div class="input-group-addon">
                    <span>%</span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Transport')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-transport" class="form-control selectpicker" name="row[transport]">
                {foreach name="transportList" item="vo"}
                    <option value="{$key}" {in name="key" value=""}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Service')}:</label>
        <dl class="fieldlist col-sm-8" data-name="row[service]" data-template="serviceForm">
            <dd>
                <a href="javascript:;" class="btn btn-sm btn-success btn-append"><i class="fa fa-plus"></i>{:__('Add')} </a>
            </dd>
            <textarea name="row[service]" class="form-control hide" cols="30" rows="5"></textarea>
        </dl>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Remark')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-remark" class="form-control " rows="5" name="row[remark]" cols="50"></textarea>
        </div>
    </div>
    <!--<div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="statusList" item="vo"}
            <label for="row[status]-{$key}"><input id="row[status]-{$key}" name="row[status]" type="radio" value="{$key}" {in name="key" value="-1"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>-->
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
<script type="text/html" id="serviceForm">
    <dd class="form-inline">
        <select class="form-control selectpicker col-xs-6" name="row[service][<%=index%>][service]"  type="text">
            <option value="">{:__('Please select a service')}</option>
            {foreach name="site.service" item="vo" key="k"}
            <option value="{$k}">{$vo}</option>
            {/foreach}
        </select>
        <input data-rule="required" name="row[service][<%=index%>][cost]" min="0" step="0.01" type="number" class="form-control" placeholder="{:__('Cost')}">
        <span class="btn btn-sm btn-danger btn-remove"><i class="fa fa-times"></i></span>
        <span class="msg-box"></span>
    </dd>
</script>
