<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">{$row.ref_no}</h3>
        <div class="box-tools pull-right">
            <button id="btn-calendar" type="button" class="btn btn-box-tool btn-dialog {:$auth->check('calendar/add')?'':'hide'}" title="{:__('Calendar')}"><i class="fa fa-calendar-plus-o"></i></button>
            <button id="btn-receivables" type="button" class="btn btn-box-tool {egt name='row.status' value='30'}disabled{/egt}" data-toggle="tooltip" title="{:__('Receivables')}"><i class="fa fa-money"></i></button>
            <button id="btn-print-pl" type="button" class="btn btn-box-tool {lt name='row.status' value='20'}disabled{/lt} {:$auth->check('sales/order/print')?'':'hide'}" data-toggle="tooltip"  title="{:__('P/L')}">P/L</button>
            <button id="btn-print-ci" type="button" class="btn btn-box-tool {lt name='row.status' value='20'}disabled{/lt} {:$auth->check('sales/order/print')?'':'hide'}" data-toggle="tooltip"  title="{:__('C/I')}">C/I</button>
            <button type="button" class="btn btn-box-tool btn-print {:$auth->check('sales/order/print')?'':'hide'}" data-toggle="tooltip"  title="{:__('Print')}"><i class="fa fa-print"></i></button>
            <button id="btn-follow" type="button" class="btn btn-box-tool btn-dialog {:$auth->check('sales/follow/add')?'':'hide'}" title="{:__('Follow')}"><i class="fa fa-phone"></i></button>
            <button id="btn-edit" type="button" class="btn btn-box-tool {egt name='row.status' value='20'}disabled{/egt} {:$auth->check('sales/order/edit')?'':'hide'}" data-toggle="tooltip"  title="{:__('Edit')}"><i class="fa fa-pencil"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>{:__('Client_id')}: </dt>
                <dd>{$row.client.short_name}</dd>
                <dt>{:__('Po_no')}: </dt>
                <dd>{$row.po_no}</dd>
                <dt>{:__('Lc_no')}: </dt>
                <dd>{$row.lc_no}</dd>
                <dt>{:__('Contact')}: </dt>
                <dd><a href="mailto:{$row.contact.email}{$row.contact.cc_email ? '?cc='.$row.contact.cc_email:''}">{$row.contact.appellation}</a></dd>
                <dt>{:__('Country')}: </dt>
                <dd>{$row.country.country_name}</dd>
                <dt>{:__('Destination')}: </dt>
                <dd>{$row.destination ? : $row.client.address}</dd>
                {neq name="row.admin_id" value="admin.id"}
                <dt>{:__('Admin_id')}: </dt>
                <dd>{$row.admin.nickname}</dd>
                {/neq}
                <dt>{:__('Remark')}: </dt>
                <dd>
                    {foreach name="row.service" item="vo"}
                    {eq name="site.languages.backend" value="zh-cn"}{$site.service[$vo.service]}{else /}{$vo.service}{/eq}: {eq name="row.currency" value="CNY"}￥ {else/}${/eq}{$vo.cost}<br>
                    {/foreach}
                    {$row.remark}
                </dd>
        </div>
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>{:__('Quotation')}: </dt>
                <dd>{$row.quotation.ref_no}</dd>
                <dt>{:__('Createtime')}: </dt>
                <dd>{$row.createtime}</dd>
                <dt>{:__('leadtime')}: </dt>
                <dd>{$row.leadtime}</dd>
                <dt>{:__('Currency')}/{:__('Rate')}: </dt>
                <dd>{$row.currency}/{$row.rate}</dd>
                {neq name="row.tax_rate" value="0"}
                <dt>{:__('Tax_rate')}: </dt>
                <dd>{$row.tax_rate} %</dd>
                {/neq}
                <dt>{:__('Incoterms')}: </dt>
                <dd>{$row.incoterms}</dd>
                {neq name="row.incoterms" value="EXW"}
                <dt>{:__('Transport')}: </dt>
                <dd>{$row.transport}</dd>
                {/neq}
                {in name="row.incoterms" value="CIF,CIP,DAT,DPT,DAP,DDP"}
                <dt>{:__('Insurance')}: </dt>
                <dd>{$row.insurance} ‱</dd>
                {/in}
                <dt>{:__('Paid')}: </dt>
                <dd>{$row.currency} {$row.paid} / {$row.balance}</dd>
        </div>
    </div>
</div>
<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    {lt name="row.status" value="20"}
                    <div id="toolbar" class="toolbar">
                        <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}" ><i class="fa fa-refresh"></i> </a>
                        <a href="javascript:;" class="btn btn-success btn-add {:$auth->check('sales/quotation_item/add')?'':'hide'}" title="{:__('Add')}" ><i class="fa fa-plus"></i> {:__('Add')}</a>
                        <!--<a href="javascript:;" class="btn btn-success btn-edit btn-disabled disabled {:$auth->check('sales/quotation_item/edit')?'':'hide'}" title="{:__('Edit')}" ><i class="fa fa-pencil"></i> {:__('Edit')}</a>
                        <a href="javascript:;" class="btn btn-danger btn-del btn-disabled disabled {:$auth->check('sales/quotation_item/del')?'':'hide'}" title="{:__('Delete')}" ><i class="fa fa-trash"></i> {:__('Delete')}</a>-->
                        <a href="javascript:;" class="btn btn-danger btn-import {:$auth->check('sales/quotation_item/import')?'':'hide'}" title="{:__('Import')}" id="btn-import-file" data-url="ajax/upload" data-mimetype="csv,xls,xlsx" data-multiple="false"><i class="fa fa-upload"></i> {:__('Import')}</a>

                        <div class="dropdown btn-group {:$auth->check('sales/quotation_item/multi')?'':'hide'}">
                            <a class="btn btn-primary btn-more dropdown-toggle btn-disabled disabled" data-toggle="dropdown"><i class="fa fa-cog"></i> {:__('More')}</a>
                            <ul class="dropdown-menu text-left" role="menu">
                                <li><a class="btn btn-link btn-multi btn-disabled disabled" href="javascript:;" data-params="status=normal"><i class="fa fa-eye"></i> {:__('Set to normal')}</a></li>
                                <li><a class="btn btn-link btn-multi btn-disabled disabled" href="javascript:;" data-params="status=hidden"><i class="fa fa-eye-slash"></i> {:__('Set to hidden')}</a></li>
                            </ul>
                        </div>

                        <a class="btn btn-success btn-recyclebin btn-dialog {:$auth->check('sales/quotation_item/recyclebin')?'':'hide'}" href="sales/quotation_item/recyclebin" title="{:__('Recycle bin')}"><i class="fa fa-recycle"></i> {:__('Recycle bin')}</a>
                    </div>
                    {/lt}
                    <table id="table" class="table table-striped table-bordered table-hover table-nowrap"
                           data-operate-edit="{:$auth->check('sales/quotation_item/edit')}"
                           data-operate-del="{:$auth->check('sales/quotation_item/del')}"
                           width="100%">
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>